@model IEnumerable<zaliczenie.Models.Product>

<h2>Lista produktów</h2>

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <form method="post" asp-controller="Product" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <button type="submit">Dodaj do koszyka</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Product" asp-action="Cart">Zobacz koszyk</a>
