@{
    ViewData["Title"] = "Home Page";
}

<h2>Witaj w naszym sklepie internetowym</h2>

@if (ViewBag.Username != null)
{
    <p>You are logged in as: <strong>@ViewBag.Username</strong></p>
    <form method="post" action="/Account/Logout">
        <button type="submit">Wyloguj się</button>
    </form>

    <a href="@Url.Action("Index", "Product")">Zobacz produkty</a>
}
else
{
    <p>You are not logged in.</p>
    <br />
    <a href="/Account/Login">Login</a>
    <br />
    <a href="/Account/Register">Register</a>
    <br />
}

@if (TempData["SuccessMessage"] != null)
{
    <div style="color: green;">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red;">
        <p>@ViewData["ErrorMessage"]</p>
    </div>
}
